project:
  type: website
  output-dir: _site

website:
  title: "DSCI 532 Projects 2026"
  navbar:
    left:
      - text: "Home"
        href: index.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: false
